.appbar_nav {
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: min(3vw, 15px) 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;

  background-color: #242424;
  font-weight: bold;
  font-size: clamp(1rem, 3vw, 1.2rem);
  box-shadow: -5px 0px 12px #202020a9;
}

.appbar_nav:not(:has(img)) {
  padding: min(6vw, 30px) 0;
}

.appbar_nav img {
  box-shadow: 0px 0px 10px #202020a9;
  border: 3px solid #2c2c2c;
  transition: all 0.3s;
  border-radius: 50%;
  width: clamp(50px, 6vw, 70px);
}

.appbar_nav p {
  max-width: 70%;
}

.bar_items {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  width: min(80%, 900px);
}

.link {
  text-decoration: none;
  color: #575757;
}

.appbar_back {
  user-select: none;
  font-size: 1rem;
  margin-top: 1rem;
  width: min(80%, 900px);
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  margin-inline: auto;
}

.appbar_back__content {
  width: fit-content;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 0.3rem;
  transition: all 0.3s;
}

.appbar_back__content:hover,
.appbar_back__content:focus {
  color: #727171;
  gap: 0.5rem;
}
