*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
html,
body,
body > div,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

#root,
html,
body,
body > div {
  height: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #fff;
  background-color: #272727;
  font-family: 'DM Sans', sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #858585;
  position: absolute;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;

  border: 0;
  outline: 0;
  box-shadow: 0;
  background: #000;
  background-image: none;
}
