.home_page {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  user-select: none;
  gap: 20vh;
  overflow: hidden;
}

.bg_dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #1f1e1e;
}

.shape_wave {
  animation: wave 10s infinite;
  position: fixed;
  top: 150px;
  left: 0;
  width: 200%;
  overflow: hidden;
  line-height: 0;
}

.shape_wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.shape_wave .shape_fill {
  fill: #1f1e1e;
}

@keyframes wave {
  0% {
    transform: translateX(-25%);
  }
  40% {
    width: 100%;
    transform: translateX(0%);
  }
  60% {
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

/* HEADER */

.header {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  animation: slide-up 1s ease-in-out forwards, fade-in 1s ease-out forwards;

  pointer-events: none;
  max-width: 80px;
  opacity: 0;
}

.titles {
  display: flex;
  flex-direction: column;
}

.title {
  animation: background-pan 3s linear infinite,
    slide-up 1s 0.1s ease-in-out forwards, fade-in 1s 0.1s ease-out forwards;

  background-image: linear-gradient(45deg, #4852c5, #9a35bb, #9a35bb, #4852c5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  white-space: nowrap;
  font-size: 3.5rem;
  opacity: 0;
}

.subtitle {
  animation: slide-up 0.5s 0.9s ease-in-out forwards,
    fade-in 0.5s 0.9s ease-out forwards;

  margin-top: -3px;
  font-size: 1rem;
  color: #c9c9c9;
  opacity: 0;
}

@media (max-width: 600px) {
  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .logo {
    padding: 0;
    max-width: 7vh;
  }
}

/* BUTTONS */

.section {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
}

.main_button {
  display: flex;
  font-weight: bold;
  justify-content: center;
  position: relative;
  align-items: center;
  width: clamp(200px, 40vw + 0.5rem, 250px);
  padding: 15px 0;
  box-sizing: border-box;
  border-radius: 3rem;
  box-shadow: 5px 5px 6px #202020a9, -5px -5px 6px #2e2e2e5c;
  transition: 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  background-color: #242424;
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
}

.main_button * {
  z-index: 10;
}

.main_button .discord {
  color: #5865f2;
}

.main_button .support {
  color: #8a4dd4;
}

.main_button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.4s;
  z-index: 0;
}

.main_button:has(.discord)::before {
  background: #5865f2;
}

.main_button:has(.support)::before {
  background: #8a4dd4;
}

.main_button::before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main_button:hover,
.main_button:focus {
  transition-delay: 0.2s;
}

.main_button:hover::before,
.main_button:focus::before {
  height: 500%;
}

.discord,
.support {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  justify-content: flex-end;
}

.icon {
  font-size: min(1vw + 0.5rem, 1rem);
  transition: all 0.3s;
  padding-left: 15px;
  position: absolute;
  padding: 0;
  opacity: 0;
}

.arrow {
  position: absolute;
  z-index: 2;
}

.main_button p {
  transition: all 0.3s;
}

.main_button:hover p,
.main_button:focus p {
  transform: translateX(-13%);
}

.main_button:hover .icon,
.main_button:focus .icon {
  transform: translateX(73%);
  color: #fff;
  opacity: 1;
}

.main_button:hover:has(.discord),
.main_button:focus:has(.discord) {
  box-shadow: 0 0 10px #5865f2, 0 0 15px #444ebd;
}

.main_button:hover:has(.support),
.main_button:focus:has(.support) {
  box-shadow: 0 0 10px #8a4dd4, 0 0 15px #7541b4;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  box-sizing: border-box;
  width: min(70vw, 70%);
}

.footer > * {
  font-size: min(1vw + 0.5rem, 1rem);
}

.quick_links {
  gap: 1rem;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}

.quick_links span {
  transition: all 0.2s;
}

.quick_links span:hover {
  color: #bebebe;
  text-shadow: 0px 0px 5px #353535;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 0.4rem;
  color: #5e5e5e;
}
