.config_item {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 7px 20px;
  box-sizing: border-box;
  border-radius: 3rem;
  box-shadow: 4px 4px 5px #202020a9, -2px -2px 5px #2e2e2e5c;
  transition: 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  background-color: #242424;
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
}

.config_item p {
  transition: all 0.2s;
}

.config_item:hover p,
.config_item:focus p {
  color: #8b8b8b;
}
