@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-700 text-neutral-200;
  }
}

.guilds-page_grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 'navbar' 'guild';
  grid-template-columns: 1fr;
  grid-template-rows: 84px 1fr;
}

@media (min-width: 640px) {
  .guilds-page_grid {
    grid-template-areas: 'sidebar navbar' 'sidebar guild';
    grid-template-columns: 4.5rem 1fr;
    grid-template-rows: 84px 1fr;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
html,
body,
body > div,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

#root,
html,
body,
body > div {
  height: 100%;
  width: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #858585;
}
