.guilds_page {
  height: 100%;
  margin: auto;
  width: fit-content;
  align-items: center;
  display: flex;
  user-select: none;
  flex-direction: column;
}

.header {
  margin-top: 10vh;
  margin-bottom: 2rem;
}

@media (max-height: 800px) {
  .menu_page {
    padding: 6vh 0;
  }
}

/* GUILD ITENS */

.guilds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline: auto;
  justify-content: center;
  gap: 1.5rem;
}

@media (max-width: 1000px) {
  .guilds {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .guilds {
    grid-template-columns: 1fr;
  }
}

.link {
  text-decoration: none;
  color: #fff;
}